div.DraftEditor-root {
	height: 250px;
	overflow-y: auto;
	border-radius: 0.75rem;
	background-color: #E9D8FD;
  }
  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
	padding: 0.5rem 1rem;
	height: 100%;
  }

  ::-webkit-scrollbar {
	width: 5px;
	height: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #553C9A; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #6B46C1; 
  }